.transaction-container {
  min-height: calc(100vh - 11rem);
  padding-top: 5rem;

  .cart-item {
    border: 1px solid gray;
    border-radius: 50px;
    margin-bottom: 1rem;
    display: flex;
    overflow: hidden;

    img {
      width: 15rem;
    }

    button {
      width: 3rem;
    }

    .cart-trash-icon:hover {
      cursor: pointer;
    }
  }
}
